{% extends "base.twig" %}

{% block body %}
    <h1>Подать новое объявление</h1>

    {% if errors is not empty %}
        <div style="color: red">При сохранении произошла ошибка</div>
        <ul>
        {% for error in errors %}
            <li>
            {{ error }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    <form action="/adverts" method="post">
        <div>
            <label>
                Заголовок *
                <input type="text" name="advert[title]" value="{{ data.title ?? '' }}">
                {% if errors.title %}
                    <div style="color: red">{{ errors.title }}</div>
                {% endif %}
            </label>
        </div>
        <br>
        <div>
            <label>
                Описание *
                <input type="text" name="advert[description]" value="{{ data.description ?? '' }}">
                {% if errors.description %}
                    <div style="color: red">{{ errors.description }}</div>
                {% endif %}
            </label>
        </div>
        <br>
        <div>
            <label>
                Цена *
                <input type="number" name="advert[price]" value="{{ data.price ?? 0 }}">
                {% if errors.price %}
                    <div style="color: red">{{ errors.price }}</div>
                {% endif %}
            </label>
        </div>
        <br>
        <input type="submit" value="Create">
    </form>
{% endblock %}
